@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,500,700);

body{
    background-color: #e0e0e0;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: 300;
}
.navbar li a{
    font-stretch: semi-expanded;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 16px;
}
/*bagian Beranda*/
.beranda {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF);
    background: linear-gradient(to left, #ECE9E6 , #FFFFF0);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
}
.navbar-fixed-top
div{
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
}
.beranda
.navbar-fixed-top{
    border: 0px;
    border-radius: 0px;
    background-color: rgba(44, 62, 80, 0.7);
    height: 60px;
    padding-top: 5px;
}
.icon-bar{
    background-color: white;
}
.beranda
.navbar-fixed-top:hover{
    border-bottom: 3px solid salmon;
    box-sizing: border-box;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.beranda
.navbar li a:focus{
    background-color: transparent;
    box-sizing: border-box;
    color: salmon;
}
.beranda
.navbar li  a{
    color: #ffffff;
}
.beranda
.navbar li a:hover{
    background-color: transparent;
    color: salmon;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.beranda .navbar .navbar-nav .icon {
    display: none;
}
.beranda .page .carousel-button{
    width: 100%;
    margin-top: 25%;
    height: 50px;
    background-color: transparent;
    position: fixed;
    
}
.beranda .page .carousel-button .fa{
    height: 40px;
    margin: 0 15px;
    width: 40px;
    padding: 8px 0 0 8px;
    border-radius: 50%;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #2f2f2f;
}
.beranda .page .carousel-button .fa-chevron-right{
    float: right;
    padding-left: 12.5px;
}
.beranda .page .section-image .carousel,
.beranda .page .section-image img{
    height: 672.5px;
    width: 100%;
}
.beranda .page .ganjil p,
.beranda .page .genap p{
    font-family: 'Quicksand';
}
.beranda .page
.section-image{
    background-attachment: fixed;
    position: fixed;
    height: 675px;
    width: 100%;
    z-index: -1;
    top: 0vh;
}
.beranda .page .section-artikel,
.beranda .page .section-forum{
    display: inline-block;
    width: 100%;
    height: 675px;
    padding-top: 250px;
    box-sizing: border-box;
}
.beranda .page .section-pemilu{
    display: inline-block;
    width: 100%;
    height: 675px;
    padding-top: 200px;
    box-sizing: border-box;
}
.section-artikel{
    margin-top: 672.5px;
}
.genap{
    z-index: 10;
    height: 675px;
    background: #6190E8;
    background: -webkit-linear-gradient(to left, #6190E8 , #A7BFE8);
    background: linear-gradient(to left, #6190E8 , #A7BFE8);
    padding: 6% 0 0 0;
}
.genap .img-circle{
    height: 200px;
    width: 200px;
    border: 10px solid #fff;
}
.section
a .btn-md{
    margin-top: 10px;
}
.beranda .genap .title,
.beranda .ganjil .title{
    margin-top: -20px;
    font-family: 'Quicksand';
    font-weight: bold;
    text-align: center;
}
.beranda .ganjil .title{
    margin-bottom: 75px;
}
.beranda .genap .title{
    color: #fff;
}
.beranda .page .genap p{
    width: 100%;
    margin: 25px 0 0 0;
    font-size: 1.2em;
    color: #eee;
    padding-bottom: 10px;
    text-align: justify;
}
.beranda .page .ganjil{
    background-color: #f2f2f2;
    height: 672.5px;
    margin-bottom: -2.5px;
}
.beranda .page .ganjil p{
    width: 100%;
    margin: 0 auto;
    font-size: 1.2em;
    color: #606060;
    padding-bottom: 10px;
    text-align: justify;
}
.beranda .page
.img-circle{
    height: 200px;
    width: 200px;
}
.beranda .page 
.section-profil{
    box-sizing: border-box;
    padding-top: 125px;
}
.beranda .page .section-forum .row{
    width: 100%;
    padding: 0;
    margin: 0;
}
.beranda .page .section-forum .row-satu .col-md-4{
    background-color: salmon;
}
.beranda .page .section-forum .row
.footer{
    margin-top: 143.5px;
    font-family: 'Ubuntu';
    color: #fff;
    padding-top: 10px;
    font-weight: 600;
    text-align: center;
    background-color: rgba(44, 62, 80, 0.7);
    width: 100%;
    height: 50px;
}
.beranda
.btn-default:hover{
    color: #606060;
}
@media (max-width: 1024px){
    .beranda .page .ganjil,
    .beranda .page .genap{
        height: 700px;
    }
    .beranda .page .section-image .item img{
        height: 672.5px;
    }
    .beranda .page .carousel-button{
        margin-top: 35%;
    }
    .beranda .page .section-forum .row
    .footer{
        margin-top: 132.5px;   
    }
}
@media (max-width: 960px){
    .beranda
    .navbar-fixed-top{
        height: 50px;
        padding: 0;
        margin-top: -5px;
    }
    .beranda
    .navbar li  a{
        font-size: .8em;
    }
    .beranda .page .carousel-button{
        margin-top: 30%;
        
    }
    .beranda .page .ganjil,
    .beranda .page .genap{
        padding-top: 100px;
        height: 525px;
    }
    .beranda .page .section-image{
        padding: 0;
    }
    .beranda .page .genap .title,
    .beranda .page .ganjil .title{
        font-size: 1.5em;
        margin-bottom: 50px;
    }
    .genap .img-circle{
        border: 7.5px solid #fff;
        display: inline-block;
        height: 150px;
        width: 150px;
    }
    .ganjil .img-circle{
        display: inline-block;
        height: 150px;
        width: 150px;
    }
    .beranda .page
    .img-circle{
        margin: 0 auto;
        display: inline-block;
        height: 150px;
        width: 150px;
        display: block;
    }
    .beranda .page .genap p{
        margin: 0 auto;
        text-align: justify;
        margin-top: 5px;
        font-size: 15px;
        padding: 0 75px;
    }
    .beranda .page .ganjil p{
        padding: 0 75px;
        margin: 0 auto;
        font-size: 15px;
        color: #606060;
        text-align: justify;
    }
    .beranda
    .btn-default{
        margin-top: 25px;
        margin-left: 44.5%;
        height: 30px;
        font-size: 12px;
    }
    .beranda .page .ganjil .btn-default{
        margin-top: 10px;
    }
    .beranda .page .section-forum .row
    .footer{
        margin-top: 40px;
        font-size: .7em;
        height: 40px;
        padding-left: 30px;      
    }
}
@media (max-width: 424px){
    .beranda
    .navbar-fixed-top{
        height: 40px;
        padding: 0;
        margin-top: -5px;
    }
    .beranda
    .navbar li  a{
        font-size: .7em;
    }
    .beranda
    .navbar li  a:hover{
        left: 2px;
    }
    .navbar-collapse{
        background-color: rgba(52, 73, 94 ,0.8);
    }
    .navbar-collapse .navbar-nav{
        padding: 0 0 0 25px;
        width: 100%;
    }
    .beranda .page .section-image{
        width: 100%;
        height: 200px;
        margin-top: -40px;
    }
    .beranda .page .section-image .slide{
        margin-left: -50px;
        margin-right: -50px;
        width: 125%;
    }
    .beranda .page .section-image .item img{
        height: 200px;
        width: 100%;
    }
    .beranda .page .carousel-button{
        margin-top: 25%;
        
    }
    .beranda .page .section-artikel{
        margin-top: 190px;
        padding-top: 50px;
    }
    .beranda .page .genap{
        height: 425px;
    }
    .beranda .page .ganjil{
        padding-top: 35px;
        height: 425px;
    }
    .beranda .page .section-pemilu{
        height: 100%;
        padding-top: 50px;
    }
    .beranda .page .section-forum{
        height: 100%;
        padding-top: 50px;
    }
    .beranda .page .genap .title,
    .beranda .page .ganjil .title{
        font-size: 1em;
        margin-bottom: 50px;
    }
    .genap .img-circle{
        border: 5px solid #fff;
        margin: 0 auto;
        height: 100px;
        width: 100px;
    }
    .ganjil .img-circle{
        height: 100px;
        width: 100px;
    }
    .beranda .page
    .img-circle{
        margin: 0 auto;
        height: 100px;
        width: 100px;
        display: block;
    }
    .beranda .page .genap p{
        text-align: justify;
        margin-top: 5px;
        font-size: 12px;
        padding: 0 5px;
    }
    .beranda .page .ganjil p{
        width: 100%;
        margin: 0 auto;
        font-size: 12px;
        color: #606060;
        text-align: justify;
    }
    .beranda
    .btn-default{
        margin-top: 10px;
        margin-left: 37.5%;
        height: 30px;
        font-size: 12px;
    }
    .beranda .page .ganjil .btn-default{
        margin-top: -5px;
        margin-bottom: 10px;
    }
    .beranda .page .section-forum .row
    .footer{
        width: 100%;
        margin-top: 25px;
        font-size: .7em;
        height: 40px;
        padding-left: 30px;      
    }
}
@media (max-width: 320px){
    .beranda
    .navbar-fixed-top{
        height: 40px;
        padding: 0;
        margin-top: -5px;
    }
    .beranda
    .navbar li  a{
        font-size: .7em;
    }
    .beranda
    .navbar li  a:hover{
        left: 2px;
    }
    .navbar-collapse{
        background-color: rgba(52, 73, 94 ,0.8);
    }
    .navbar-collapse .navbar-nav{
        padding: 0 0 0 25px;
        width: 100%;
    }
    .beranda .page .section-image{
        width: 100%;
        height: 200px;
        margin-top: -40px;
    }
    .beranda .page .section-image .slide{
        margin-left: -50px;
        margin-right: -50px;
        width: 125%;
    }
    .beranda .page .section-image .item img{
        height: 200px;
        width: 100%;
    }
    .beranda .page .carousel-button{
        margin-top: 25%;
        
    }
    .beranda .page .section-artikel{
        margin-top: 190px;
        padding-top: 50px;
    }
    .beranda .page .genap{
        height: 425px;
    }
    .beranda .page .ganjil{
        padding-top: 35px;
        height: 425px;
    }
    .beranda .page .section-pemilu{
        height: 100%;
        padding-top: 50px;
    }
    .beranda .page .section-forum{
        height: 100%;
        padding-top: 50px;
    }
    .beranda .page .genap .title,
    .beranda .page .ganjil .title{
        font-size: 1em;
        margin-bottom: 50px;
    }
    .genap .img-circle{
        border: 5px solid #fff;
        margin: 0 auto;
        height: 100px;
        width: 100px;
    }
    .ganjil .img-circle{
        height: 100px;
        width: 100px;
    }
    .beranda .page
    .img-circle{
        margin: 0 auto;
        height: 100px;
        width: 100px;
        display: block;
    }
    .beranda .page .genap p{
        text-align: justify;
        margin-top: 5px;
        font-size: 12px;
        padding: 0 5px;
    }
    .beranda .page .ganjil p{
        width: 100%;
        margin: 0 auto;
        font-size: 12px;
        color: #606060;
        text-align: justify;
    }
    .beranda
    .btn-default{
        margin-top: 10px;
        margin-left: 35%;
        height: 30px;
        font-size: 12px;
    }
    .beranda .page .ganjil .btn-default{
        margin-top: -5px;
        margin-bottom: 10px;
    }
    .beranda .page .section-forum .row
    .footer{
        width: 100%;
        margin-top: 25px;
        font-size: .7em;
        height: 40px;
        padding-left: 30px;      
    }
}

/*bagian artikel*/
body
.artikel{
    box-sizing: border-box;
    padding-top: 100px;
    width: 100%;
}
.artikel
.navbar-fixed-top{
    border: 0px;
    border-radius: 0px;
    background-color: #2c3a49;
    height: 60px;
    padding-top: 5px;
}
.artikel
.navbar-fixed-top:hover{
    border-bottom: 3px solid salmon;
    box-sizing: border-box;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.artikel
.navbar li  a{
    color: #ffffff;
}
.artikel .navbar .navbar-right
.btn-default{
    background-color: transparent;
    font-size: 22.5px;
    margin: 1px 0 0 5px;
    border: none;
    color: #fff;
    padding: 0;
}
.artikel .navbar li a:hover,
.artikel .navbar .navbar-right .btn-default:hover{
    background-color: transparent;
    color: salmon;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.artikel .navbar .navbar-right
.control{
    display: none;
    background-color: transparent;
    border: none;
    color: #f3f3f3;
}

.artikel
.navbar li a:focus{
    background-color: transparent;
    color: salmon;
}
div.artikel.container{
    width: 95%;
    margin-top: -15px;
}
div.artikel
a{
    color: #505050;
    text-decoration: none;
}
.artikel .page-dua{
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    display: none;
}
div.artikel
.panel-default{
    background-color: transparent;
    border-radius: 10px;
    margin: 15px -6.5px;
    border: none;
}
div.artikel
.panel-heading{
    background-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
    margin: -2.5px 0 -3.5px 0;
    padding-top: 5px;
    border: none;
}
div.artikel .row .panel .panel-heading
h4{
    font-family: 'Ubuntu';
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
}
div.artikel .panel .panel-body{
    padding: 0;
}
.imageWrapper {
    position: relative;
    border-radius: 5px;
}
.imageWrapper img {
    border-radius: 5px;
    display: block;
    height: 200px;
    width: 100%;
    margin: 0;
}
.imageWrapper .cornerLink {
    opacity: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px 25px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    -webkit-transition: opacity 750ms;
    -moz-transition: opacity 750ms;
    -o-transition: opacity 750ms;
    transition: opacity 750ms;
}
.imageWrapper:hover .cornerLink {
    opacity: 0.9;
    border-radius: 5px;
}
.imageWrapper .cornerLink h4{
    color: #fff;
    font-family: 'Ubuntu';
    font-weight: bold;
}
.imageWrapper .cornerLink p{
    min-height: 65px;
    overflow-y: hidden;
    max-height: 102.5px;
    color: #fff;
    font-family: 'Ubuntu';
    box-sizing: border-box;
    text-align: justify;
}
.imageWrapper .cornerLink a
.btn{
    color: #fff;
}
div.artikel .panel .imageWrapper
.waktu{
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    background-color: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}
.imageWrapper:hover .waktu {
    -webkit-transition: 750ms;
    -moz-transition: 750ms;
    -ms-transition: 750ms;
    -o-transition: 750ms;
    transition: 750ms;
    opacity: 0;
}
div.artikel .panel .imageWrapper .waktu
h6{
    padding: 5px 15px 5px 5px;
    background-color: rgba(255, 255, 255 ,0.5);
    display: inline-block;
    color: #404040;
}
div.artikel .panel .imageWrapper .waktu h6
.fa{
    margin-left: 7.5px;
}
div.artikel .panel .imageWrapper .waktu
.border{
    margin-left: -20px;
    opacity: 0.5;
    background-color: #fff;
    position: absolute;
    left: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 21.5px;
    width: 20px
}
.artikel
.page{
    text-align: center;
    margin-bottom: 2.5px;
}
.artikel .pagination
#one{
    background-color: blue;
    color: #fff;
}
.artikel .pagination
a,
.artikel .pagination
.prev a,
.artikel .pagination
li a{
    border: none;
    display: inline-block;
    border-radius: 50%;
    margin: -2.5px 5px;
}
.artikel .footer{
    margin: 1px 0 0 0;
    background-color: #2c3a49;
    text-align: center;
    height: 50px;
}
.artikel .footer p{
    font-stretch: extra-condensed;
    padding-top: 15px;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Ubuntu';
    font-size: 1em;
    color: #fff;
}
@media (max-width: 960px){
    .artikel
    .navbar li  a{
        font-size: 1em;
    }
    .artikel .row .col-md-6{
        width: 100%;
    }
    .artikel .row .col-md-3{
        width: 49.7%;
        display: inline-block;
    }
    .artikel .navbar .navbar-right .btn{
        margin-top: 5px;
        font-size: 1.2em;
    }
    .artikel .navbar .navbar-right
    .control{
        font-size: 1em;
    }
}
@media (max-width: 414px){
    .artikel
    .navbar-fixed-top{
        height: 40px;
        padding: 0;
        margin-top: -5px;
    }
    .artikel
    .navbar li  a{
        font-size: .8em;
    }
    .artikel
    .navbar li  a:hover{
        left: 2px;
    }
    .navbar-collapse{
        background-color: rgba(52, 73, 94 ,0.8);
    }
    .navbar-collapse .navbar-nav{
        padding: 0 0 0 25px;
        width: 100%;
    }
    .artikel .navbar .navbar-right
    .btn-default{
        font-size: 16px;
        margin: 1px 0 0 25px;
    }
    .artikel .navbar .navbar-right .form-group{
        display: inline-block;
        margin-left: 25px;
    }
    .artikel .navbar .navbar-right .btn{
        margin: -10px 0 0 -15px;
        display: block;
    }
    .artikel .navbar .navbar-right
    .control{
        position: absolute;
        font-size: 12px;
    }
    .artikel .row .col-md-3,
    .artikel .row .col-md-6{
        width: 100%;
    }
}
@media (max-width: 320px){
    .artikel
    .navbar-fixed-top{
        height: 40px;
        padding: 0;
        margin-top: -5px;
    }
    .artikel
    .navbar li  a{
        font-size: .7em;
    }
    .artikel
    .navbar li  a:hover{
        left: 2px;
    }
    .navbar-collapse{
        background-color: rgba(52, 73, 94 ,0.8);
    }
    .navbar-collapse .navbar-nav{
        padding: 0 0 0 25px;
        width: 100%;
    }
    .artikel .navbar .navbar-right
    .btn-default{
        font-size: 16px;
        margin: 1px 0 0 25px;
    }
    .artikel .navbar .navbar-right .form-group{
        display: inline-block;
        margin-left: 25px;
    }
    .artikel .navbar .navbar-right .btn{
        margin: -10px 0 0 -15px;
        display: block;
    }
    .artikel .navbar .navbar-right
    .control{
        position: absolute;
        font-size: 12px;
    }
    .artikel .row .col-md-3,
    .artikel .row .col-md-6{
        width: 100%;
    }
}
/*baca-artikel*/
.baca-artikel{
    font-family: 'Ubuntu';
}
.baca-artikel
.navbar-fixed-top {
    background-color: transparent;
    padding-top: 5px;
    height: 60px;
}
.baca-artikel
.navbar-fixed-top:hover{
    border-bottom: 3px solid salmon;
    box-sizing: border-box;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.baca-artikel
.navbar-fixed-top ul li a{
    border: 0px;
    border-radius: 0px;
    color: #fff;
    height: 70px;
}
.baca-artikel
.navbar-fixed-top li a:hover{
    background-color: transparent;
    color: salmon;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.baca-artikel
.navbar-fixed-top li a:focus{
    background-color: transparent;
    color: salmon;
}
.baca-artikel .navbar .navbar-right
.btn-default{
    background-color: transparent;
    font-size: 22.5px;
    margin: 1px 0 0 5px;
    border: none;
    color: #fff;
    padding: 0;
}
.baca-artikel img{
    width: 100%;
    background-attachment: fixed;
    max-height: 350px;
    position: fixed;
    z-index: -1;
    top: 0vh;
}
.struktur-artikel{
    padding-bottom: 25px;
    margin-top: 350px;
    padding-top: 25px;
    background-color: #fff;
    box-sizing: border-box;
}
.judul-artikel{
    font-size: 20px;
    font-weight: 500;
    font-variant: small-caps;
    color: #5f5f5f;
    text-align: right;
}
.judul-inti{
    color: #2980b9;
}
.baca-artikel .col-md-8
p{
    text-align: justify;
}
.kata-awal{
    font-size: 50px;
    font-weight: 900;
    position: relative;
    float: left;
    top: -18px;
    height: 40px;
    margin-right: 10px;
}
.sub-tittle{
    font-size: 14px;
    font-weight: 600;
    color: #505050;
}
.postman{
    color: #5a5a5a;
    text-decoration: none;
}
.baca-artikel .footer{
    background-color: rgba(44, 62, 80, 0.9);
    text-align: center;
    padding-top: 12.5px;
    height: 50px;
}
.baca-artikel .footer p{
    font-family: 'Quicksand';
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
}
@media (max-width: 1024px){
    .baca-artikel
    .navbar-fixed-top {
        height: 50px;
    }
    .baca-artikel .navbar-header{
        margin-top: -5px;
    }
    .baca-artikel .navbar-fixed-top .navbar-nav li a{
        margin-top: -7.5px 0 0 0;
        font-size: .7em;
        display: block;
    }
    .baca-artikel .navbar-fixed-top .navbar-form{
        width: 100%;
        padding-left: 45px;
    }
    .baca-artikel .navbar-fixed-top .navbar-right .form-control{
        background-color: transparent;
        display: inline-block;
        width: 150px;
        border: none;
        margin-top: -7.5px;
    }
    .baca-artikel .navbar-fixed-top .navbar-right .btn{
        display: inline-block;
        width: 50px;
        margin-top: -7.5px;
        font-size: 1.2em;
    }
    .baca-artikel img{
        height: 175px;
    }
    .baca-artikel .struktur-artikel{
        margin-top: 175px;
    }
    .judul-artikel{
        margin-bottom: 15px;
        margin-right: 35%;
        margin-left: 30%;
        font-weight: bold;
        font-size: 14px;
    }
    .judul-artikel .judul-inti{
        display: inline-block;
    }
    .struktur-artikel .col-md-8 p{
        font-size: 12px;
    }
    .kata-awal{
        top: 0;
        font-size: 30px;
    }
    .sub-tittle{
    font-size: 12px;
    float: right;
    }
    .baca-artikel .footer{
        height: 40px;
        padding-top: 12.5px;
    }
    .baca-artikel .footer p{
        font-size: .8em;
    }
}
@media (max-width: 960px){
    .baca-artikel
    .navbar-fixed-top {
        height: 50px;
    }
    .baca-artikel .navbar-fixed-top .navbar-nav li a{
        padding: 7.5px 7.5px;
        font-size: .9em;
        display: block;
    }
    .baca-artikel .navbar-fixed-top .navbar-right .form-control{
        background-color: transparent;
        border: none;
    }
    .baca-artikel .navbar-fixed-top .navbar-right .btn{
        font-size: 1.2em;
    }
    .baca-artikel img{
        height: 300px;
    }
    .baca-artikel .struktur-artikel{
        margin-top: 275px;
    }
}

/*Bagian Pemilu*/

/*Pilih pemilu*/
.pilih {
    padding-top: 60px;
    font-family: 'Ubuntu';
    font-size: 18px;
    color: #505050;
}
.pilih
.navbar-fixed-top ul li a{
    color: #fff;
    font-weight: 600;
}
.pilih
.navbar-fixed-top ul li a:hover{
    color: salmon;
    background-color: transparent;
}
.pilih
.navbar-fixed-top li a:focus{
    background-color: transparent;
    color: salmon;
}
.pilih
.navbar-fixed-top{
    border: 0px;
    border-radius: 0px;
    background-color: #2c3a49;
    height: 60px;
    padding-top: 5px;
}
.pilih .navbar-brand a{
    text-transform: none;
    color: #fff;
}
.pilih
.navbar-fixed-top:hover{
    border-bottom: 3px solid salmon;
    box-sizing: border-box;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.pilih .navbar .navbar-right
.btn-default{
    background-color: transparent;
    font-size: 22.5px;
    margin: 1px 0 0 5px;
    border: none;
    color: #fff;
    padding: 0;
}
@media (max-width: 1024px){
    .pilih {
        padding-top: 60px;
        font-family: 'Ubuntu';
        font-size: 14px;
        color: #505050;
    }
    .pilih
    .navbar-fixed-top{
        width: 100%;
        height: 40px;
        padding: 0;
        margin-top: -5px;
    }
    .pilih
    .navbar li  a{
        font-size: .9em;
    }
    .pilih .navbar .navbar-right
    .btn-default{
        font-size: 20px;
        margin: 1px 0 0 25px;
    }
    .pilih
    .container-side-bar
    {
        margin-top: -15px;
    }
    .side-bar ul li a
    span{
        margin-top: -7.5px;
    }
    .pilih .container-side-bar .wrapper .content{
        padding-right: 0;
        width: 100%;
    }
    .pilih .container-side-bar .wrapper .content h1{
        font-size: 16px;
    }
    .pilih .container-side-bar .wrapper .content p{
        font-size: 12px;
        padding-right: 10px;
        width: 100%;
    }
}

    /*sidebar*/
.pilih
.container-side-bar
{
    overflow:hidden;
    display:inline-block;
    height: 100%;
    width: 100%;
}
.side-bar
{
    background-color:#34495e;
    position:fixed;
    height:100vh;
    width:225px;
    color:#fff;
    transition: margin-left 0.5s;
}

.side-bar ul
{
    list-style:none;
    padding:0px;
    
}
.side-bar ul li a
span{
    line-height: 30px;
}

.side-bar ul li.menu-head
{
    padding:20px;
}


.side-bar ul li.menu-head a
{
    color:#fff;
    text-decoration:none;
    height:50px;
}


.side-bar ul .menu-head  a
{
    color:#fff;
    text-decoration:none;
    height:50px;
}

.side-bar ul .menu li  a 
{
    color:#fff;
    text-decoration:none;
    display:inline-table;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.side-bar ul .menu li  a:hover
{
    border-left:3px solid salmon;   
    padding-left:17px;
    color: salmon;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.side-bar ul .menu a.active
{
    padding-left:17px;
    background:#3498db;
    border-left:3px solid #ECECEA;
}

.side-bar ul .menu li  a.active:before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 7px solid #3498db;
    margin-top: -6px;
    margin-left: 180px;
}
.pilih
.content{
    padding: 50px 100px 50px 300px;
    transition: padding-left 0.5s;
}
.pilih
.active > .side-bar{
    margin-left:-175px;   
    transition: margin-left 0.5s;
}
.pilih
.active > .content{
    padding-left: 100px;
    transition: padding-left 0.5s;
}
.pilih .content form
input{
    display: block;
    margin: auto;
}
.pilih .col-md-4{
    text-align: center;
    margin-bottom: 50px;
}
.pilih .col-md-4
img{
    margin: 20px 0px;
    height: 140px;
    width: 140px;
    border-radius: 5%;
}
@media (max-width: 412px){
    .pilih .col-md-4
    img{
        height: 100px;
        width: 100px;
    }
}
@media (max-width: 320px){
    .pilih .col-md-4
    img{
        height: 90px;
        width: 90px;
    }
}
@media (max-width: 768px){
    .pilih .col-md-4
    img{
        height: 200px;
        width: 200px;
    }
}
.block{
    display: block;
    margin: 0 auto;
}
/*bagian forum*/
.forum{
    background-color: #ecf0f1;
}
.forum
.header{
    background-color: #3f51b5;
    height: 100px;
    position: relative;
}
.header
ul{
    list-style: none;
}
.header .container
form{
    margin-top: 32px;
    float: right;
    display: inline-block;
}
.forum .container
h1 {
    color: #fff;
    font-family: "Alfa Slab One", cursive;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 32px;
}
.forum .navbar-form
.btn-default{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 0;
    margin-left: 10px;
}
.forum
.navbar-default{
    background-color: #1a237e;
    width: 100%;
    border-radius: 0;
    border: none;
}
.forum .navbar-default ul li
a{
    color: #fff;
}
.forum .navbar-default ul li
a:hover{
    color: #1a237e;
    background-color: #ecf0f1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.forum .navbar-default ul li
a:focus{
    color: #1a237e;
    background-color: #ecf0f1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.forum .navbar-default .navbar-form{
    display: none;
}
.dropdown-large {
    position: static;
}
.dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
}
.dropdown-menu-large > li > ul > li {
    list-style: none;
}
.forum .navbar-default .dropdown-menu-large li ul li
a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #bbb;
    white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #fff;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
    color: #428bca;
    font-size: 18px;
}
@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
}
.panel
hr{
    margin: 0;
    padding: 0;
}
.panel,
.panel-body,
.panel-footer{
    border-radius: 0;
    border: 0;
}
.forum .post
.panel-body
img{
    width: auto;
    height: auto;
    margin-top: 125%;
}
.post .panel
.panel-heading{
    background-color: transparent;
    border-bottom: 0;
}
.panel-body:hover{
    background-color: rgba(236, 240, 241 , .5);
}
.post
.panel-body{
    height: 130px;
    border-bottom: 1px inset #b0b0b0;
}
.post
a{
    text-decoration: none;
    color: #404040;
}
.post
h4{
    display: inline;
    font-size: 1em;
    font-weight: 600;
}
.post
.keterangan{
    font-family: 'Quicksand';
    display: inline-block;
    color: #aaa;
    float: right;
}
.post .col-md-11
.desc{
    font-family: 'Quicksand';
    margin: 10px 0 0 0;
    height: 65px;
}
.post
.status *{
    color: #707070;
    font-size: 12px;
    float: left;
    margin-right: 20px;
}
.fa-comment,
.fa-comments-o:hover{
    color: blue;
}
.fa-mail-reply:hover{
    color: green;
}
.fa-eye:hover{
    color: red;
}
.latest-post .panel-body p img{
    display: inline-block;
    width: 350px;
    height: 250px;
    margin: -15px -30px;
}
.forum .footer{
    background-color: #2a3d49;
    font-family: 'Quicksand';
    padding-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    height: 50px;
    color: #fff;
}
@media (max-width: 1024px){
    .post
    .panel-body{
        width: 100%;
        height: auto;
    }
    .panel-default .panel-body .col-md-1,
    .panel-default .panel-body .col-md-11{
        display: inline-block;
    }
    .panel-default .panel-body .col-md-1{
        width: 10%;
    }
    .panel-default .panel-body .col-md-11{
        width: 90%;
    }
}
@media (max-width: 414px){
    .forum .header{
        height: 80px;
    }
    .forum .header h1{
        display: inline-block;
        font-size: 1.5em;
    }
    .forum .header .navbar-header{
        margin-top: -45px;
    }
    .forum .header .navbar-form{
        display: none;
    }
    .forum .navbar-default .navbar-form{
        display: inherit;
    }
    .forum .navbar-default .navbar-form .form-group{
        display: inline-block;
        width: 77.5%;
    }
    .forum .navbar-default .navbar-form .btn{
        display: inline-block;
        width: 15%;
        margin-top: -30px;
    }
    .forum .navbar .navbar-collapse{
        width: 111%;
        margin-top: -25px;
    }
    .forum .navbar-default ul li
    a{
        font-size: .8em;
    }
    .forum .navbar-default ul li
    a:hover{
        border-radius: 5px;
    }
    .panel-default .panel-body .col-md-1,
    .panel-default .panel-body .col-md-11{
        display: inline-block;
    }
    .panel-default .panel-body .col-md-1{
        display: none;
    }
    .panel-default .panel-body .col-md-11{
        width: 100%;
    }
    .panel-default .panel-body .col-md-11 h4,
    .panel-default .panel-body .col-md-11 .keterangan,
    .panel-default .panel-body .col-md-11 .desc{
        display: block;
    }
    .panel-default .panel-body .col-md-11 .keterangan{
        float: left;
    }
    .panel-default .panel-body .col-md-11 .desc{
        margin-top: 50px;
        text-align: justify;
    }
    .panel-default .panel-body .col-md-11 .status{
        margin-top: 75px;
    }
    .forum .footer{
        padding-top: 15px;
        font-size: 1em;
    }
}
@media (max-width: 320px){
    .forum .header{
        height: 80px;
    }
    .forum .header h1{
        display: inline-block;
        font-size: 1.5em;
    }
    .forum .header .navbar-header{
        margin-top: -45px;
    }
    .forum .header .navbar-form{
        display: none;
    }
    .forum .navbar-default .navbar-form{
        display: inherit;
    }
    .forum .navbar-default .navbar-form .form-group{
        display: inline-block;
        width: 77.5%;
    }
    .forum .navbar-default .navbar-form .btn{
        display: inline-block;
        width: 15%;
        margin-top: -30px;
    }
    .forum .navbar .navbar-collapse{
        width: 111%;
        margin-top: -25px;
    }
    .forum .navbar-default ul li
    a{
        font-size: .8em;
    }
    .forum .navbar-default ul li
    a:hover{
        border-radius: 5px;
    }
    .panel-default .panel-body .col-md-1,
    .panel-default .panel-body .col-md-11{
        display: inline-block;
    }
    .panel-default .panel-body .col-md-1{
        display: none;
    }
    .panel-default .panel-body .col-md-11{
        width: 100%;
    }
    .panel-default .panel-body .col-md-11 h4,
    .panel-default .panel-body .col-md-11 .keterangan,
    .panel-default .panel-body .col-md-11 .desc{
        display: block;
    }
    .panel-default .panel-body .col-md-11 .keterangan{
        float: left;
    }
    .panel-default .panel-body .col-md-11 .desc{
        margin-top: 50px;
        text-align: justify;
    }
    .panel-default .panel-body .col-md-11 .status{
        margin-top: 125px;
    }
    .forum .footer{
        padding-top: 15px;
        font-size: 1em;
    }
}

/*lihat*/
.lihat .container{
    position: relative;
    display: block;
    left: 5px;
}
.lihat .container
.thread{
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
}
.lihat .thread
h2{
    font-family: 'Quicksand';
    font-size: 2em;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.lihat .thread
.desc{
    font-family: 'Ubuntu';
    margin: 20px 0;
}
.status
.keterangan{
    float: right;
}
.lihat .container
.col-md-8{
    background-color: #fff;
}

.lihat .ngomen{
    margin-top: 35px;
}
.lihat .ngomen form .form-control{
    margin-bottom: 15px;
    resize: none;
}
.lihat .ngomen form .btn{
    margin-bottom: 25px;
}

.komentar
img{
    height: 50px;
    width: 50px;
    display: inline;
}
.komentar
h6{
    width: 100%;
    font-family: 'Quicksand';
    font-weight: 600;
}
.komentar p{
    font-family: 'Quicksand';
}
.komentar
.status{
    font-family: 'Quicksand';
    color: #707070;
    font-size: 12px;
    float: left;
    margin-left: -40px;
}
.komentar .status
li{
    list-style: none;
}
.komentar .status
.waktu{
    list-style: none;
}
.komentar .collapse
.masukan-balas{
    box-sizing: border-box;
    margin-bottom: 15px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 3px solid #3f51b5;
    width: 100%; 
}
.panel-heading
.latest-head{
    text-decoration: none;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    margin: 4px 0 0 0;
    padding: 5px 15px 5px 15px;
}
.panel-heading
hr{
    border: 2.5px solid #000;
    margin: 15px auto;
}
.popular-post .panel
a{
    text-decoration: none;
    color: #505050;
}
.popular-post .panel-body{
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 0;
    border-bottom: 1px inset #b0b0b0;
}
.popular-post .panel-body
img{
    width: 85px;
    height: 75px;
    position: relative;
    float: left;
    margin:0 15px 0 0;
}
.popular-post .panel-body
.judul-thread{
    font-family: 'Quicksand';
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1em;
    color: #3f51b5;
    display: block;
}
.popular-post .panel-body
.post-popular-post{
    font-family: 'Ubuntu';
    text-align: justify;
}
.forum
.footer{
    background-color: #3f51b5;
}
@media (max-width: 1280px){
    .lihat .thread
    img{
        width: 626px;
        height: 350px;
        margin-top: -10px;
        margin-left: -35px;
    }
}
@media (max-width: 1024px){
    .lihat .thread
    img{
        width: 720px;
        height: 350px;
        margin-top: -10px;
        margin-left: -35px;
    }
}
@media (max-width: 414px){
    .lihat .container{
        padding-left: 5px;
    }
    .lihat .thread
    img{
        width: 357.5px;
        height: 300px;
        margin-top: -10px;
        margin-left: -35px;
    }
    .lihat .thread h2{
        font-family: 'Quicksand';
        font-size: 1.5em;
    }
}
@media (max-width: 375px){
    .lihat .thread
    img{
        width: 322.5px;
        height: 300px;
        margin-top: -10px;
        margin-left: -35px;
    }
}
@media (max-width: 320px) and (max-height: 568px){
    .lihat .header{
        box-sizing: border-box;
        height: 70px;
    }
    .lihat .header h1{
        margin-left: 15px;
        margin-top: 25px;
        display: inline-block;
        font-size: 1.5em;
    }
    .lihat .header .navbar-header{
        margin-top: -45px;
    }
    .lihat .header .navbar-form{
        display: none;
    }
    .lihat .navbar-default .navbar-form{
        display: inherit;
    }
    .lihat .navbar-default .navbar-form .form-group{
        display: inline-block;
        width: 77.5%;
    }
    .lihat .navbar-default .navbar-form .btn{
        display: inline-block;
        width: 15%;
        margin-top: -30px;
    }
    .lihat .navbar .navbar-collapse{
        margin-top: -25px;
        margin-left: -5px;
        width: 293.5px;
    }
    .lihat .navbar-default ul li
    a{
        font-size: .8em;
    }
    .lihat .navbar-default ul li
    a:hover{
        border-radius: 5px;
    }
    .lihat .container{
        width: 93.35%;
        margin: 0;
        padding: 0;
    }
    .lihat .post{
        margin: -15px 0;
    }
    .lihat .thread .image img{
        width: 273px;
        height: 150px;
        position: relative;
        display: block;
    }
    .lihat .thread h2{
        font-family: 'Quicksand';
        font-size: 1.5em;
    }
    .lihat .thread .desc{
        font-family: 'Ubuntu';
        font-size: .85em;
    }
    .lihat .thread .status .fa{
        display: inline-block;
        font-size: 10px;
        margin: 0 5px;
    }
    .lihat .post .komentar .col-md-1{
        display: inline-block;
        position: absolute;
    }
    .lihat .post .komentar .col-md-7{
        margin-left: 60px;
        display: inline-block;
        max-width: 200px;
    }
    .lihat .post .komentar .img-circle{
        width: 30px;
        height: 30px;
    }
    .lihat .post .komentar p{
        font-size: .75em;
    }
    .lihat .post .komentar .status li,
    .lihat .post .komentar .status li a{
        font-size: 10px;
        display: inline-block;
    }
    
    .lihat .footer{
        margin-top: 25px;
    }
}

/*tentang kami*/
.tentang{
    background-color: #f2f2f2;
    font-family: 'Quicksand';
}
.tentang .navbar li a{
    font-weight: 600;
}
.tentang .all{
    margin-top: 100px;

}
.tentang hr{
    border-top: 1px inset #8f8f8f;
    opacity: .1;
}
.tentang .judul-halaman h2::before{
    content: 'Tentang ';
    color: #000;
}
.tentang .judul-halaman h2{
    margin-bottom: 50px;
    font-weight: 500;
    color: #909090;
}
.tentang .row .isi .profile{
    border-radius: 5px;
    border: 7.5px solid #fff;
    box-shadow: -2px -2px 5px #8f8f8f;
    width: 100%;
    height: 100%;
}
.tentang .row .isi h4{
    font-weight: 500;
    margin: 0 0 7.5px 0;
}
.tentang .row .isi h5{
    margin: 0 0 7.5px 0;
}
.tentang .row .isi h6{
    margin: 0 0 7.5px 0;
    font-size: 11px;
}
.tentang .row .isi a{
    display: inline-block;
    text-decoration: none;
    margin: 0 0 15px 0;
}
.tentang .row .isi p{
    text-align: justify;
    width: 100%;
}
.tentang .row .isi .sosmed{
    text-align: right;
}
.tentang .row .isi .sosmed img{
    width: 50px;
    margin: 0 10px;
    height: 50px;
}
.tentang .row .isi .sosmed .tlg{
    width: 43px;
    height: 43px;
    border-radius: 50%;
}
.tentang .foot{
    margin-top: 25px;
    background-color: rgba(44, 62, 80, 0.9);
    text-align: center;
}
.tentang .foot p{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    color: #fff;
    padding: 15px 0;
}
@media (max-width: 1024px){
    .tentang .navbar li a{
        font-size: 15.5px;
    }
    .tentang .row .isi h4{
        font-size: 16px;
    }
    .tentang .row .isi h5{
        font-size: 14px;
    }
    .tentang .row .isi h6{
        font-size: 11px;
    }
    .tentang .row .isi a{
        font-size: 13px;
    }
    .tentang .row .isi p{
        font-size: 12px;
    }
    .tentang .row .isi .sosmed img{
        width: 35px;
        margin: 0 10px;
        height: 35px;
    }
    .tentang .row .isi .sosmed .tlg{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}

@media (width: 960px){
    .tentang .container{
        width: 90%;
    }
    .tentang .row .isi .col-md-3{
        position: absolute;
        width:20%;
    }
    .tentang .row .isi .col-md-9{
        margin-left: 20%;
        width: 80%;
    }
    .tentang .navbar li a{
        font-size: 14px;
    }
    .tentang .row .isi .row .desc{
        position: absolute;
    }
    .tentang .row .isi p:first-child{
        margin-top: 75px;
    }
    .tentang .btn-back{
        margin: 50px 0 25px 47.5%;
    }
    .tentang .foot p{
        font-size: 14px;
    }
}

@media (max-width: 414px){
    .tentang .all{
        margin-top: 50px;
        padding: 0;
    }
    .tentang .judul-halaman h2{
        margin-bottom: 25px;
        font-size: 22px;
    }
    .tentang .row .isi .profile{
        position: absolute;
        height: 100px;
        width: 100px;
    }
    .tentang .row .isi .desc{
        margin-left: 110px;
    }
    .tentang .navbar .collapse .nav li a{
        font-weight: bold;
        font-size: 14px;
    }
    .tentang .row .isi h6,
    .tentang .row .isi p{
        font-size: 12px;
    }
    .tentang .row .isi .name{
        font-weight: bold;
        margin-bottom: 12px;
    }
    .tentang .row .isi h5,
    .tentang .row .isi h4{
        font-size: 14px;
        font-weight: normal;
    }
    .tentang .row .isi .row .desc .no-telp{
        margin-bottom: -2.5px;
    }
    .tentang .row .isi .row .desc a{
        font-size: 13px;
    }
    .tentang .row .isi .desc{
        display: block;
    }
    .tentang .row .isi p:last-child{
        margin-bottom: 30px;
    }
    .tentang .row .isi .sosmed{
        position: absolute;
        margin: 0 auto;
        bottom: -55px;
        width: 75%;
    }
    .tentang .row .isi .sosmed img{
        margin: 0 10px;
        height: 35px;
        width: 35px;
    }
    .tentang .row .isi .sosmed .tlg{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .tentang .all .col-md-4 .btn{
        margin: 40px 0 15px 40%;
    }
    .tentang .foot p{
        font-size: 14px;
    }
}
@media (max-width: 320px){
    .tentang .all{
        margin-top: 50px;
        padding: 0;
    }
    .tentang .judul-halaman h2{
        margin-bottom: 25px;
        font-size: 20px;
    }
    .tentang .row .isi .profile{
        position: absolute;
        height: 100px;
        width: 100px;
    }
    .tentang .row .isi .desc{
        margin-left: 110px;
    }
    .tentang .navbar .collapse .nav li a{
        font-weight: bold;
        font-size: 12px;
    }
    .tentang .row .isi h6,
    .tentang .row .isi p{
        font-size: 10px;
    }
    .tentang .row .isi .name{
        font-weight: bold;
        margin-bottom: 10px;
    }
    .tentang .row .isi h5,
    .tentang .row .isi h4{
        font-size: 12px;
        font-weight: normal;
    }
    .tentang .row .isi .row .desc .no-telp{
        margin-bottom: -2.5px;
    }
    .tentang .row .isi .row .desc a{
        font-size: 11px;
    }
    .tentang .row .isi .desc{
        display: block;
    }
    .tentang .row .isi p:last-child{
        margin-bottom: 30px;
    }
    .tentang .row .isi .sosmed{
        position: absolute;
        margin: 0 auto;
        bottom: -55px;
        width: 80%;
    }
    .tentang .row .isi .sosmed img{
        margin: 0 10px;
        height: 35px;
        width: 35px;
    }
    .tentang .row .isi .sosmed .tlg{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .tentang .all .col-md-4 .btn{
        margin: 40px 0 15px 35%;
    }
    .tentang .foot p{
        font-size: 12px;
    }
}