body{
	background-color: #2196F3;
	color: #212121;
}
.center{
	width: 33.33%;
	margin: 30vh 30vw 0;
}
.wrap{
	margin: 30vh 0 0;
	/*background-color: #fff;*/
/*	padding: 50px 30px;
*/}
@media (max-width: 991px){
	.wrap{
		margin: 10vh 0;
		/*background-color: #fff;*/
	/*	padding: 50px 30px; */
	}
}
.info-wrap{
	border-radius: 5px;
	--webkit-box-shadow: 15px 15px 25px rgba(0,0,0,0.2), inset 7px 0px 0px #F50057;
	box-shadow: 15px 15px 25px rgba(0,0,0,0.2), inset 7px 0px 0px #F50057;
	padding: 50px 40px;
	border : 0px;
	margin-bottom: 20px;
	background-color: #fff;
}
.login-wrap{
	padding: 0px;
	--webkit-box-shadow: 15px 15px 25px rgba(0,0,0,0.2);
	box-shadow: 15px 15px 25px rgba(0,0,0,0.2);
}
.info-wrap h4{
	color: #757575;
}
::-webkit-input-placeholder{
	text-align: center;
}
::-moz-input-placeholder{
	text-align: center;
}
::-o-input-placeholder{
	text-align: center;
}
::-ms-input-placeholder{
	text-align: center;
}
.form-control{
	text-align: center;
}
.login-body{
	--webkit-box-shadow: inset 7px 0px 0px #f50057;
	box-shadow: inset 7px 0px 0px #f50057;
	border-radius: 5px;
	border-radius: 5px; 
	background-color: #fff;
	padding: 20px;
}
/*.login-title{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 5px solid #F50057;
	background-color: #fff ;
	padding: 15px;
}
.login-title h2{
	margin: 0px;
	color: #212121;
}
*/.btn-custom{
/*	--webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
*//*	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
*/	background-color: #1976D2;
	font-weight: bold;
	color: #FFFFFF;
}
.btn-custom:hover{
	color: #FFFFFF;
	background-color: #5a73fe;
}
.btn{
	border-radius: 5px;
}
.form-control{
	border-radius: 5px;
}
.form-control:focus {
  border-color: #2196F3;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
          box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}